<footer class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="text-center"><strong>Please note:</strong> By State and City mandate, Three6ixty employees are working remotely until further notice. I am available by email or cell phone (310-259-8288) for any client needs during this time. Phone calls to our office lines will be forwarded to our personal phones, but we are most easily accessible via email.  We are monitoring the evolving standards for municipal submittals and are continuing to move forward with projects as much as possible.  Thank you for your continued business and patience as we all adjust during this crisis.</p>
      </div>
    </div>
  </div>
</footer>
