---
title: case_study
layout: default
---

<section id="{{ page.title | downcase }}" class="section--case_study d-flex align-items-center py-5 text-center">
  <div class="container">
    <div class="row wow fadeIn">
      <div class="col-12 m-auto">
        <h3 class="text-uppercase">{{ page.title }}</h3>
        <p class="mb-4">(click to expand)</p>
      </div>
    </div>
    <div class="row wow fadeIn">
      {% for projects in page.projects %}
      <div class="col-6 col-md-4 mx-auto">
        <div class="thumb-wrapper position-relative">
          <a data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1"><img src="{{ projects.image }}" alt="" class="mw-100 m-auto rounded-circle"></a>
        </div>
        <div class="text m-auto p-4">
          <h5 class="text-uppercase mb-0">{{ projects.title }}</h5>
        </div>
        <div class="collapse" id="collapse1">
          <div class="card card-body">
            <p class="card-text">{{ projects.neighborhood }}</p>
            <p class="card-text">{{ projects.units }}</p>
            <p class="card-text">{{ projects.type }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="additional_projects" class="section--additional_projects d-flex align-items-center py-5 text-center">
  <div class="container">
    <div class="row wow fadeIn">
      <div class="col-12 m-auto">
        <h3 class="text-uppercase">Additional Projects</h3>
        <p class="mb-4">(hover to learn more)</p>
      </div>
    </div>
    <div class="row wow fadeIn">
      <div class="col-6 col-md-4 col-lg-3 col-xl mx-auto">
        <div class="thumb-wrapper position-relative">
          <div class="front">
            <a href="{{ '/mix' | relative_url }}"><img src="{{ '/assets/img/blue-thumb.jpg' | relative_url }}" alt="" class="mw-100 m-auto"></a>
          </div>
          <div class="card back">
            <div class="card-body">
              <h5 class="card-title text-uppercase">Title</h5>
              <p class="card-text">Neighborhood</p>
              <p class="card-text">Units</p>
              <p class="card-text">Type of Project</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
