---
title: home
layout: default
---

<section id="hero" class="section--hero d-flex align-items-center py-5 text-center" style="background: url({{ '/assets/img/hero-bg.jpg' | relative_url }}) no-repeat center center/cover;">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="display-4 text-white">Planning <span>Done Differently</span></h1>
      </div>
    </div>
  </div>
</section>

<section id="intro" class="section--intro d-flex align-items-center py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 col-xl-8 m-auto text-center">
        <p>A successful venture starts with having experts on your side. Our team will support you through every stage of your project, from permit to completion.</p>
        <a href="/" class="btn btn-primary btn-lg">Let's Collaborate</a>
      </div>
    </div>
  </div>
</section>

<section id="services" class="section--services py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <h3 class="text-uppercase">Guidance</h3>
        <img src="{{ '/assets/img/service-1.png' | relative_url }}" alt="Guidance">
        <p>Our experienced professionals will be there to help you design a budget, select a contractor, and manage your team.</p>
      </div>
      <div class="col-md-3 text-center">
        <h3 class="text-uppercase">Planning</h3>
        <img src="{{ '/assets/img/service-2.png' | relative_url }}" alt="Guidance">
        <p>Let us read the fine print. We can provide extensive market analysis and assist you with everything from environmental clearance to land use planning.</p>
      </div>
      <div class="col-md-3 text-center">
        <h3 class="text-uppercase">Outreach</h3>
        <img src="{{ '/assets/img/service-3.png' | relative_url }}" alt="Guidance">
        <p>Ensure your community welcomes you with open arms by letting us organize neighborhood gatherings and social media campaigns.</p>
      </div>
      <div class="col-md-3 text-center">
        <h3 class="text-uppercase">Service</h3>
        <img src="{{ '/assets/img/service-1.png' | relative_url }}" alt="Guidance">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel elit justo. Nunc vestibulum leo ut consectetur tristique. Cras laoreet.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a href="/" class="btn btn-primary btn-lg">Learn More</a>
      </div>
    </div>
  </div>
</section>

<section id="services" class="section--services py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="text-uppercase">Case Studies</h3>
        <div class="gallery-for">
          <div>
            <img src="{{ '/assets/img/mixed-use-projects.jpg' | relative_url }}" alt="" class="w-100">
          </div>
          <div>
            <img src="{{ '/assets/img/mixed-use-projects.jpg' | relative_url }}" alt="" class="w-100">
          </div>
          <div>
            <img src="{{ '/assets/img/mixed-use-projects.jpg' | relative_url }}" alt="" class="w-100">
          </div>
          <div>
            <img src="{{ '/assets/img/mixed-use-projects.jpg' | relative_url }}" alt="" class="w-100">
          </div>
        </div>
        <div class="gallery-nav">
          <div>
            <img src="{{ '/assets/img/mixed-use-projects-thumb.jpg' | relative_url }}" alt="" class="w-100">
            <div class="text p-2">
              <h5>Mixed Use Projects</h5>
            </div>
          </div>
          <div>
            <img src="{{ '/assets/img/residential-projects-thumb.jpg' | relative_url }}" alt="" class="w-100">
            <div class="text p-2">
              <h5>Residential Projects</h5>
            </div>
          </div>
          <div>
            <img src="{{ '/assets/img/community-institutions-thumb.jpg' | relative_url }}" alt="" class="w-100">
            <div class="text p-2">
              <h5>Community & Institutions</h5>
            </div>
          </div>
          <div>
            <img src="{{ '/assets/img/hotel-projects-thumb.jpg' | relative_url }}" alt="" class="w-100">
            <div class="text p-2">
              <h5>Hotel Projects</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="clients" class="section--clients bg-primary py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="text-white text-uppercase">A Track Record of Excellence with World Class Clients</h3>
        <ul class="list-unstyled d-flex flex-wrap">
          <li><img src="{{ '/assets/img/hollywood-intl.png' | relative_url }}" alt=""></li>
          <li><img src="{{ '/assets/img/jewish-federation.png' | relative_url }}" alt=""></li>
          <li><img src="{{ '/assets/img/thomas-safran.png' | relative_url }}" alt=""></li>
          <li><img src="{{ '/assets/img/bolour-associates.png' | relative_url }}" alt=""></li>
          <li><img src="{{ '/assets/img/meta-housing-corp.png' | relative_url }}" alt=""></li>
          <li><img src="{{ '/assets/img/cgi.png' | relative_url }}" alt=""></li>
          <li><img src="{{ '/assets/img/aragon.png' | relative_url }}" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="section--contact py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 col-xl-8 m-auto">
        <h3 class="text-uppercase text-center">Let's Get Started</h3>
        <form>
          <div class="form-row">
            <div class="form-group col-sm-6">
              <input class="form-control text" id="first_name" name="first_name" placeholder="First Name" type="text">
            </div>
            <div class="form-group col-sm-6">
              <input class="form-control text" id="last_name" name="last_name" placeholder="First Name" type="text">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-5">
              <input class="form-control text" id="email" name="email" placeholder="Email" type="email">
            </div>
            <div class="form-group col-sm-7">
              <input class="form-control text" id="phone" name="phone" placeholder="Phone" type="tel">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <input class="form-control text" id="subject" name="subject" placeholder="Subject" type="text">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <textarea class="form-control textarea autogrow" id="content" name="content" rows="6" placeholder="Message"></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <p>I want to...</p>
              <div class="form-check">
                <input class="form-check-input checkbox" id="learn_more_360" name="learn_more_360" type="checkbox" value="1">
                <label class="form-check-label checkbox" for="learn_more_360">Learn more about three6ixty services</label>
              </div>
              <div class="form-check">
                <input class="form-check-input checkbox" id="schedule_consultation" name="schedule_consultation" type="checkbox" value="1">
                <label class="form-check-label checkbox" for="schedule_consultation">Schedule a consultation</label>
              </div>
              <div class="form-check">
                <input class="form-check-input checkbox" id="subscribe" name="subscribe" type="checkbox" value="1">
                <label class="form-check-label checkbox" for="subscribe">Subscribe to three6ixty’s newsletter</label>
              </div>
              <div class="form-check">
                <input class="form-check-input checkbox" id="work_intern_360" name="work_intern_360" type="checkbox" value="1">
                <label class="form-check-label checkbox" for="work_intern_360">Work or intern at three6ixty</label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 text-center">
              <button class="btn btn-primary btn-lg" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
