---
title: team
layout: default
---

<section id="case_studies" class="section--case_studies py-5">
  <div class="container">
    <div class="row wow fadeIn">
      <div class="col-12">
        <h3 class="text-uppercase mb-4">{{ page.title }}</h3>
      </div>
    </div>
    <div class="row wow fadeIn">
      {% for team in page.team %}
      <div class="col-6 col-md-4 mx-auto">
        <div class="thumb-wrapper position-relative">
          <img src="{{ team.image }}" alt="" class="mw-100 m-auto rounded-circle">
        </div>
        <div class="text m-auto p-4">
          <h5 class="text-uppercase mb-0">{{ team.name }}</h5>
          <p class="text-muted">{{ team.position }}</p>
          <a href="mailto:{{ team.email }}">{{ team.email }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
