---
title: team
layout: default
---

<section id="team" class="section--team py-5">
  <div class="container">
    <div class="row wow fadeIn">
      <div class="col-12 text-center">
        <h3 class="text-uppercase mb-4">{{ page.title }}</h3>
      </div>
    </div>
    <div class="team-items">
      {% for team in page.team %}
      <div class="team-item">
        <div class="btn-wrap"><div class="btn btn-close"></div></div>
        <div class="item-wrap">
		  		<div class="bg-container">
            <div class="bg-wrap">
  		    		<div class="bg normal" style="background-image:url({{ team.image }});"></div>
              <div class="bg alt" style="background-image:url({{ team.image_alt }});"></div>
  						<div class="overlay"></div>
  			  	</div>
          </div>
			    <div class="item-info">
			      <h5 class="name text-uppercase">{{ team.name }}</h5> <span class="title">{{ team.position }}</span>
			    </div>
			  </div>
        <div class="bio">
		    	<h5 class="name text-uppercase">{{ team.name }}</h5> <span class="title">{{ team.position }}</span>
		    	<span class="bio-content text">{{ team.bio }}</span>
		    </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
